Flask==2.1.0
flask_cors==3.0.10
flask_jwt_extended==4.3.1
flask_migrate==3.1.0
flask_socketio==5.1.1
flask_sqlalchemy==2.5.1
gym==0.23.1
keras_rl2==1.0.5
numpy==1.21.5
pbu==0.7.5
pytest==7.1.1
python-dotenv==0.20.0
bcrypt==3.2.0
rl==3.0
SQLAlchemy==1.4.32
tensorflow==2.8.0
tensorflow_macos==2.8.0
gunicorn==20.1.0
eventlet==0.30.2
yapf==0.32.0
psycopg2-binary==2.9.3
toml==0.10.2
